*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Tipografías cuerpos*/
  --fnt-playfair: 'Playfair Display', serif;
  --fnt-roboto: 'Roboto', sans-serif;

  /* Tipografías tamanios*/
  --fnt-18px: 1.125rem;
  --fnt-21px: 1.3125rem;
  --fnt-36px: 2.25rem;
  --fnt-48px: 3rem;
  --fnt-60px: 3.75rem;
  
  /* Tipografías Playfair Display */
  --font-playfair-display: 'Playfair Display', serif;

  /* Colores */
  --clr-white: #FFF;
  --clr-sand: #F3EED9;
  --clr-coffee: #824936;
  --clr-dark-grey: #222C2A;
  
}

/* General styles */

body {
  margin: 0;
  font-family: var(--fnt-roboto);
  font-size: var(--fnt-21px);
  line-height: 1.6;
  color: var(--clr-dark-grey);
}

img {
  max-width: 100%;
  clip-path: inset(2px);
}

h1, h2 {
  margin-top: 0;
  font-family: var(--fnt-playfair);
  font-weight: 900;
  line-height: 1.1;
}

section {
  padding: 4em 0;
}

/* Specific styles */

.container {
  width: 84%;
  margin: 0 auto;
  max-width: 1128px;
}

.section-title {
  color: var(--clr-sand);
  font-size: var(--fnt-36px);
}

.section-title--dark {
  color: var(--clr-coffee);
}

.section-two {
  background-color: var(--clr-white);
}

.section-three {
  background-color: var(--clr-dark-grey);
  color: var(--clr-white);
}

.section-four {
  background-color: var(--clr-coffee);
  color: var(--clr-white);
}

.intro {
  background-color: var(--clr-sand);
  text-align: center;
  min-height: 660px;
  
  display: flex;
  align-items: center;
}

.intro__text {
  color: var(--clr-dark-grey);
  font-size: var(--fnt-18px);
  font-weight: 300;
  line-height: 1;
  letter-spacing: .6em;
  text-transform: uppercase;
  margin: 0 0 .25em;
}

.intro__title {
  color: var(--clr-coffee);
  font-size: var(--fnt-48px);
}

/* Media queries */

@media (min-width: 900px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 3em;
  }

  .intro__title {
    font-size: var(--fnt-60px);
  }
}

/*
#F3EED9
#824936
#222C2A


1 | Roboto Light font-size: 18px;             1.125rem
2 | Playfair Display Black font-size: 60px;   3.75rem
3 | Playfair Display Black font-size: 36px;   2rem
4 | Roboto Regular font-size: 21px;           1.166rem

section-one
min-height: 660px;
*/