* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.parent {
  background-color: #23434A;
  color: whitesmoke;

  width: 80%;
  margin: 0 auto;

  /* height: 300px; */

  padding: 5em; /* 5 * 16px = 80px */
}