* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.section-one {
  background: #23424a;
  color: white;
  padding: 4rem 0;
}

.section-two {
  background: white;
  color: black;
  padding: 2rem 0;
}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.section-one-content {
  width: 50%;
}

.section-two-content {
  /* border: 1px solid red; */
}
