
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-bc: #23424A;
  --color-font: white;
  --color-btn-font: #136C72;
  --color-btn-bc: #38CFD9;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--color-bc);
  padding: 8rem 4rem;
}

.title {
  font-size: 48px;
  color: var(--color-font);
  width: 50%;
}

.content {
  font-size: 21px;
  color: var(--color-font);
  line-height: 1.6;
  width: 50%;
  margin-bottom: 4em;
}

.btn {
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-bc);
  padding: 1em 3em;
  background-color: var(--color-btn-bc);
  border-radius: 2rem;
}

.btn:hover,
.btn:focus {
  opacity: .75;
}