*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Tipografías cuerpos*/
    --fnt-oswald: "Oswald", sans-serif;
    --fnt-montserrat: "Montserrat", sans-serif;
    
    /* Tipografías cuerpos*/
    --fnt-regular: 400;
    --fnt-bold: 700;

    /* Tipografías tamanios*/
    --fnt-16px: 1rem;
    --fnt-18px: 1.125rem;
    --fnt-21px: 1.3125rem;
    --fnt-24px: 1.5rem;
    --fnt-30px: 1.875rem;
    --fnt-36px: 2.25rem;
    --fnt-90px: 5.625rem;

    /* Tipografías Playfair Display */
    --font-playfair-display: 'Playfair Display', serif;

    /* Colores */
    --clr-dark-grey: #2E323F;
    --clr-mid-grey: #3B4050;
    --clr-light-grey: #6F737F;
    --clr-white: #FFF;
    --clr-sand: #A59678;

}

body {
    margin: 0;
    font-family: var(--fnt-montserrat);
    background-color: var(--clr-white);
    line-height: 1.6;
}

img {
    max-width: 100%;
}

h1 {
    font-family: var(--fnt-oswald);
    font-size: var(--fnt-90px);
    font-weight: var(--fnt-bold);
    color: var(--clr-light-grey);
    line-height: 1.1;
}

h1 span {
    color: var(--clr-sand);
    
}


.logo {
    color: red;
}

.nav-bar {
    background-color: var(--clr-dark-grey);
}

.navigation li {
    font-family: var(--fnt-oswald);
    font-size: var(--fnt-18px);
    font-weight: var(--fnt-bold);
    color: var(--clr-light-grey);
    text-transform: uppercase;
    text-decoration: none;
}

.section-one {
    background-color: var(--clr-mid-grey);
}

.section-one p {
    font-family: var(--fnt-montserrat);
    font-size: var(--fnt-24px);
    font-weight: var(--fnt-regular);
    color: var(--clr-light-grey);
}

.section-two {
    background-color: var(--clr-light-grey);
}

.section-two h3 {
    font-family: var(--fnt-oswald);
    font-size: var(--fnt-30px);
    font-weight: var(--fnt-bold);
    color: var(--clr-sand);
}

.section-two p {
    font-family: var(--fnt-montserrat);
    font-size: var(--fnt-18px);
    font-weight: var(--fnt-regular);
    color: var(--clr-mid-grey);
}

.section-three {
    background-color: var(--clr-white);
}

.section-three h2 {
    font-family: var(--fnt-oswald);
    font-size: var(--fnt-36px);
    font-weight: var(--fnt-bold);
    color: var(--clr-sand);
}

.section-three p {
    font-family: var(--fnt-montserrat);
    font-size: var(--fnt-21px);
    font-weight: var(--fnt-regular);
    color: var(--clr-mid-grey);
}

.section-four {
    background-color: var(--clr-mid-grey);
}


/*
Colors
#2E323F dark-grey
#3B4050 mid-grey
#6F737F light-grey
#FFFFFF white
#A59678 sand

Fonts

1 | Oswald Bold - font-size: 18px;

2 | Oswald Bold - font-size: 90px;          h1

3 | Montserrat Regular - font-size: 24px;

4 | Oswald Bold - font-size: 24px;

5 | Oswald Bold - font-size: 30px;          h3
    Monserrat Regular - font-size: 18px;

6 | Oswald Bold - font-size: 36px;          h2
    Monserrat Regular - font-size: 21px;

7 | Oswald Bold - font-size: 30px;          h3
    Monserrat Regular - font-size: 18px;

8 | Oswald Bold - font-size: 24px;          42px???h2

9 | Oswald Bold - font-size: 21px;          h4
    Monserrat Regular - font-size: 16px;


Layout and break points

Maximum width of a “container” is 1200px

Two breakpoints: 700px and 1000px

The middle section must change as indicated below


See small screens medium screens graphic indicator in PDF

// <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}




*/